<form #f="ngForm" (ngSubmit)="submit(f)" class="row g-3">
  <div class="col-md-4">
    <label for="name" class="form-label">Nome</label>
    <input type="text" name="name" class="form-control" placeholder="Nome" #nameField="ngModel" ngModel required>
    <p class="text-danger" *ngIf="nameField.touched && nameField.invalid"><small>Il campo è richiesto</small></p>
  </div>
  <div class="col-md-4">
    <label for="priority" class="form-label">Priority</label>
    <select class="form-select" name="priority" #priorityField="ngModel" ngModel required>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <p class="text-danger" *ngIf="priorityField.touched && priorityField.invalid"><small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Date</label>
    <input type="date" name="start" class="form-control" placeholder="Data Inizio" #dateField="ngModel" ngModel
      required>
    <p class="text-danger" *ngIf="dateField.touched && dateField.invalid"><small>Il campo è richiesto</small></p>
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description" placeholder="Descrizione" #descriptionField="ngModel" ngModel
      required></textarea>

    <p class="text-danger" *ngIf="descriptionField.touched && descriptionField.invalid"><small>Il campo è
        richiesto</small></p>
  </div>
  <div class="col-12">
    <button type="submit" class="w-100 btn btn-primary btn-lg">Crea</button>
  </div>
</form>
